<div class="row text-center">
  <div class="col">
    <h1>Contador</h1>
    <h2>{{ contador }}</h2>
  </div>
</div>

<div class="row text-center">
  <div class="col">
    <button (click)="incrementar(1)" class="btn btn-primary">
      Incrementar
    </button>
    <button (click)="decrementar(1)" class="btn btn-info">Decrementar</button>
  </div>
</div>

<hr />
<div class="row text-center">
  <div class="col">
    <app-hijo
      [contador]="contador"
      (cambioContador)="contador = $event"
    ></app-hijo>
  </div>
</div>
<hr />
<div class="row text-center">
  <div class="col">
    <app-nieto
      (resetearContador)="contador = $event"
      [contador]="contador"
    ></app-nieto>
  </div>
</div>
<router-outlet></router-outlet>
